<%- include('header') -%>
<%- include('home') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
                <h2 class="font-weight-bold">Auto Upload</h2>
                <span>Log in for the existing user</span>
               
                    <div class="form-group">
                        <input type="email" class="form-control mt-3 py-1" placeholder="Enter Channer Url..." value="" name="email">
                        <!-- <small class="form-text text-muted text-left">Register email address</small> -->
                    </div>
                    <div class="channel">

                    </div>
            </div>
                <button  href=""  name="submit" class="btn btn-success rounded-pill">Select</button>
        </div>
    </div>
    <script>
        const email = document.getElementsByName("email")
        const button = document.getElementsByName("submit")
        button[0].addEventListener("click",async()=>{
            const formdata = new FormData()
            formdata.append("url",email[0].value)
            formdata.append("sort",document.getElementsByName("sort")[0].checked == true ? 1 : 2)
            console.log( );
            const fetchData = await fetch("/selectchannel",{
                method:"post",
                body:formdata
            })
        })
        email[0].addEventListener("blur",async()=>{
            const formdata = new FormData()
            formdata.append("channel",email[0].value)
                
                const fetchdata = await fetch("/findchannel",{
                    method:"post",
                    body:formdata
                })
                const resp  = await fetchdata.json()
                console.log(resp)
                if(resp.status == 1){
                    if(!document.querySelector("img")){
                        
                        const div = document.createElement("div")
                        const div2 = document.createElement("div")
                        const title = document.createElement("h4")
                        const subscriber = document.createElement("h5")
                        const viewsLable  = document.createElement("label")
                        const DateLable  = document.createElement("label")
                        const viewCheckbox = document.createElement("input")
                        const dateCheckbox = document.createElement("input")
                        dateCheckbox.type = 'radio'
                        dateCheckbox.id = 'date'
                        dateCheckbox.name = 'sort'
                        dateCheckbox.value = '2'
                        viewCheckbox.type = 'radio'
                        viewCheckbox.id = 'view'
                        viewCheckbox.name = 'sort'
                        viewCheckbox.value = '1'
                        DateLable.htmlFor = "date"
                        viewsLable.htmlFor = "view"
                        viewsLable.innerText = "Views"
                        DateLable.style = "margin-left:10px"
                        DateLable.innerText = "Date"

                        title.innerText = resp.result.author

                        subscriber.innerText = resp.result.subscriberText
                        subscriber.style = "margin-left:10px"
                        div2.appendChild(title)
                        div2.appendChild(subscriber)
                        div2.appendChild(viewsLable)
                        div2.appendChild(viewCheckbox)
                        div2.appendChild(DateLable)
                        div2.appendChild(dateCheckbox)
                        title.style = "margin-left:10px"
                        
                        div.style = "display:flex; justify-content:center;align-items:center"
                        
                        const channel = document.getElementsByClassName("channel")
                        const image = document.createElement("img")
                        image.src = resp.result.authorThumbnails[2].url
                        
                        image.width = 100
                        div.appendChild(image)
                        div.appendChild(div2)
                        channel[0].appendChild(div)
                    }
                }

        })
    </script>
</body>
</html>