<%- include('header') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">s</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0  " style="width: 85vw;">
              <li class="nav-item">
                <a class=" nav-link text-dark font-weight-bold" href="/uploadpop" >Upload Popular video</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-dark font-weight-bold" aria-current="page" href="/autoupload">Upload New Video</a>
              </li>
              <li class="nav-item">
                <a class=" text-dark nav-link font-weight-bold" href="/linkupload">Upload with Link</a>
              </li>
              <li class="nav-item">
                <a class=" text-dark nav-link font-weight-bold" href="/queues">Queues</a>
              </li>
            </ul>
              <div class="" name="opt" style="margin-left: 20px; margin-top: 5px; float: right;  ">

              </div>
              
           
          </div>
        </div>
      </nav>
</body>
<script>
  window.onload = async()=>{
    const fetchdata = await fetch('/getusers',{
      method:"get"
    })
    const resp = await fetchdata.json()
    if(resp.status==1){
      const select = document.createElement("select")
      select.name = "switch"
      const li = document.getElementsByName("opt")
      
      resp.data.map((e)=>{
          const opt = document.createElement("option")
          opt.text = e.name
          opt.value = e.google_id
          select.add(opt)
      })
      select.selectedIndex = resp.data.findIndex(e=>e.google_id == resp.data.current)
        li[0].appendChild(select)

    }
  }
  setTimeout(()=>{

    const select = document.getElementsByName("switch")
    select[0].onchange = async(e)=>{
      const formdata = new FormData()
      formdata.append("id",select[0].value)
      const fetchData = await fetch("/switch",{
        method:"post",
        body:formdata
      })
      const resp = await fetchData.json()
    }
  },2000)
</script>
</html>