<%- include('header') -%>
<%- include('home') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
                <h2 class="font-weight-bold">Upload with Link</h2>
               
                    <div class="form-group">
                        <textarea  class="form-control mt-3 py-1" placeholder="Enter Video Url..."   rows="10" name="url">
                        </textarea>
                        
                        <!-- <small class="form-text text-muted text-left">Register email address</small> -->
                    </div>
                    <div>
                        <label for="time " class="mx-1">Start Time </label>
                        <input type="time" id="time">
                        <label for="interval" class="ml-4 mr-1">Interval </label>
                        <input type="number" class="w-25" id="interval">

                    </div>
            </div>
                <button  href=""  name="submit" class="btn btn-success rounded-pill">Select</button>
        </div>
    </div>
    <script>
       
    </script>
</body>
</html>